@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to PizzaHub </h2>
    <img src="~/media/products/Chicken Delight.jpg" style="border: 3px solid black;" />
</div>
